<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641836204823-6s0sak603jv42q42d7adtige0u35i3lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641836204823-6s0sak603jv42q42d7adtige0u35i3lc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641836204823-btoe8v8dbf5g0tnf3ve6fu51i8apqupu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaq5IxIb2UwTibJPw0S8ay1CgXrtpkZQM</string>
	<key>GCM_SENDER_ID</key>
	<string>641836204823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holysmokesbbq.board</string>
	<key>PROJECT_ID</key>
	<string>holy-smokes-bbq-board</string>
	<key>STORAGE_BUCKET</key>
	<string>holy-smokes-bbq-board.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641836204823:ios:6f0c54fa5c015d1bfb6d52</string>
</dict>
</plist>